<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="row mt-5 ">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design green">
                                <div>
                                    <i class="material-icons icon-design">add</i>New Order
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design green">
                                <div>
                                    <i class="material-icons icon-design">assignment</i>Assign Order
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/customers']">
                            <div class="button-design blue">
                                <div>
                                    <i class="material-icons icon-design">people</i>Customers
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/users']">
                            <div class="button-design  blue">
                                <div>
                                    <i class="material-icons icon-design">person</i>Users
                                </div>
                            </div>
                        </a>
                    </div>
    
                </div>
                <div class="row row-margin">
    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design blue">
                                <div>
                                    <i class="material-icons icon-design">business</i>Agency
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design yellow">
                                <div>
                                    <i class="material-icons icon-design">attach_money</i>Pull Money
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design yellow">
                                <div>
                                    <i class="material-icons icon-design">money_off</i>Push Money
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design red">
                                <div>
                                    <i class="material-icons icon-design">money_off</i>Closing Cash
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>