.button-design {
    border-radius: 10px;
    box-shadow:    0 1px #444444;
    width:         280px;
    height:        115px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 30px/125px "Open Sans", sans-serif;
    text-align:    center;
}

.green{
    background:    #15d798;
}
.yellow {
    background:    #ffa726;
}

.blue {
    background:   #76a5af;
}

.red {
    background:   #cc0000;
}

.row-margin{
    margin-top: 85px;
}
