<div class="main-content">
    <div class="container-fluid">
        <div class="row mt-5 ">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design green">
                        <div>
                            <i class="material-icons mr-3">add</i>New Order
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design green">
                        <div>
                            <i class="material-icons mr-3">assignment</i>Assign Order
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/customers']">
                    <div class="button-design blue">
                        <div>
                            <i class="material-icons mr-3">people</i>Customers
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/users']">
                    <div class="button-design blue">
                        <div>
                            <i class="material-icons mr-3">person</i>Users
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
        <div class="row row-margin">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design blue">
                        <div>
                            <i class="material-icons mr-3">business</i>Agency
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design yellow">
                        <div>
                            <i class="material-icons mr-3">money</i>Pull Money
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design yellow">
                        <div>
                            <i class="material-icons mr-3">money</i>Push Money
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <a [routerLink]="['/new-order']">
                    <div class="button-design red">
                        <div>
                            <i class="material-icons mr-3">money_off</i>Closing Cash
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">

            </div>
        </div>
    </div>
</div>