<div class="main-content">
    <div class="container-fluid ">
        <div class="card">
            <div class="card-body">
                <div class="dashboard-container marginContainerTop">
                    
                    <div class="item-align">
                        <a [routerLink]="['/orders/new']">
                            <div class="button-design btn-success green">
                                <div>
                                    <i class="material-icons icon-design">add</i>New Order
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="item-align">
                        <a [routerLink]="['/new-order']">
                            <div class="button-design green">
                                <div>
                                    <i class="material-icons icon-design">assignment</i>Assign Order
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="item-align">
                        <a [routerLink]="['/customers']">
                            <div class="button-design blue">
                                <div>
                                    <i class="material-icons icon-design">people</i>Customers
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-align">
                        <a [routerLink]="['/users']">
                            <div class="button-design  blue">
                                <div>
                                    <i class="material-icons icon-design">person</i>Users
                                </div>
                            </div>
                        </a>
                    </div>
    
                </div>
                <div class="dashboard-container row-margin marginContainerBottom">
    
                    <div class="item-align">
                        <a [routerLink]="['/agency']">
                            <div class="button-design blue">
                                <div>
                                    <i class="material-icons icon-design">business</i>Agency
                                </div>
                            </div>
                        </a>
                    </div>
    
                    <div class="item-align">
                        <a [routerLink]="['/']">
                            <div class="button-design yellow">
                                <div>
                                    <i class="material-icons icon-design">attach_money</i>Pull Money
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-align">
                        <a [routerLink]="['/']">
                            <div class="button-design yellow">
                                <div>
                                    <i class="material-icons icon-design">money_off</i>Push Money
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-align">
                        <a [routerLink]="['/']">
                            <div class="button-design red">
                                <div>
                                    <i class="material-icons icon-design">money_off</i>Closing Cash
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>