.button-design {
    border-radius: 20px;
    box-shadow:    0 1px #444444;
    width:         273px;
    height:        105px;
    color:         #ffffff;
    display:       inline-block;
    font:          normal bold 25px/110px "Open Sans", sans-serif;
    text-align:    left;
    margin-top: 30px;
    margin-left: 10px;
}

.button-design:hover{
    opacity: 0.85;
}

.icon-design{
    margin-left:10px;
    margin-right: 40px;
}
.green{
    background:    #15d798;
}
.yellow {
    background:    #ffa726;
}

.blue {
    background:   #76a5af;
}

.red {
    background:   #cc0000;
}

.row-margin{
    margin-top: 85px;
}
