.panel {
    width: 80%;
    margin: 2em auto;
  }
  
  .panel-body {
    width: 100%;
    margin: 2em auto;
  }
  
  body {
    font-size: 15px;
  }
  
  label {
    font-weight: 400;
  }
  
  .helper-text {
    color: #ff5722;
    font-size: 12px;
    margin-top: 5px;
    height: 12px;
    display: block;
  }
  .label-design{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
  }

  .centrado{
    text-align: left !important;
  }

  .label-design-detail{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
    color: rgb(54, 54, 54);
  }
 .centerForm{
  margin: 0 auto;
  width: 60% !important;
 }
.centerContent{
    text-align: center;
}
  /* Hosted Payment Fields styles*/
  
  .hosted-field-focus { 
    outline: none;
    background-image: linear-gradient(#009688, #009688), linear-gradient(#d2d2d2, #d2d2d2);
    animation: input-highlight 0.5s forwards;
    box-shadow: none;
    background-size: 0 2px, 100% 1px;
  }