<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">

          <div class="card-header card-header-info">
            <h4 class="card-title ">Customers</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Names
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Address
                  </th>

                  <th>
                    View
                  </th>
                  <th>
                    Edit
                  </th>
                </thead>
                <tbody>
                
                  <tr *ngFor="let customer of customers">
                      <td>
                        {{customer.firstName + ' ' + customer.lastName}}
                      </td>
                      <td>
                        {{customer.country}}
                      </td>
                      <td>
                        {{customer.city}}
                      </td>
                      <td >
                        {{customer.address}}
                      </td>
                      <td>
                        <a [routerLink]="['/customers/'+customer.id]"><i class="material-icons">remove_red_eye</i></a>
                      </td>
                      <td>
                        <a [routerLink]="['/customers/edit/'+customer.id]"><i class="material-icons">edit</i></a>
                      </td>
                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          
          <div class="card-header card-header-info">
            <h4 class="card-title text-center ">Actions</h4>
          </div>
          <div class="card-body mt-2 text-center">
            <div [routerLink]="['/customers/new']">
              <h2><i class="material-icons">person_add</i><a class="btn btn-link pl-2">New Customer</a></h2>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>