<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">

          <div class="card-header card-header-info">
            <h4 class="card-title ">Customers</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    ID
                  </th>
                  <th>
                    Names
                  </th>
                  <th>
                    Country
                  </th>
                  <th>
                    City
                  </th>
                  <th>
                    Address
                  </th>

                  <th>
                    View
                  </th>
                  <th>
                    Edit
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Niger
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      4
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      5
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      6
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td >
                      Random Address
                    </td>
                    <td>
                      <a [routerLink]="['/customers/1']"><i class="material-icons">remove_red_eye</i></a>
                    </td>
                    <td>
                      <a [routerLink]="['/customers/edit/1']"><i class="material-icons">edit</i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          
          <div class="card-header card-header-info">
            <h4 class="card-title text-center ">Actions</h4>
          </div>
          <div class="card-body mt-2 text-center">
            <div [routerLink]="['/customers/new']">
              <h2><i class="material-icons">person_add</i><a class="btn btn-link pl-2">New Customer</a></h2>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>