<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">

          <div class="card-header card-header-info">
            <h4 class="card-title ">Users</h4>
          </div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    Names
                  </th>
                  <th>
                    Agency
                  </th>
                  <th>
                    Role
                  </th>
                  <th>
                    Is Active?
                  </th>
                  <th>
                    Money
                  </th>
                  <th>
                    View
                  </th>
                  <th>
                    Edit
                  </th>
                </thead>
                <tbody>
                
                  <tr *ngFor="let user of users">
                      <td>
                        {{user.firstName + ' ' + user.lastName}}
                      </td>
                      <td>
                        {{user.agency}}
                      </td>
                      <td>
                        {{user.userRole}}
                      </td>
                      <td *ngIf="user.isActive"> 
                        Active
                      </td>
                      <td *ngIf="!user.isActive">
                        Inactive
                      </td>
                      <td >
                        {{user.money | currency}}
                      </td>
                      <td>
                        <a [routerLink]="['/users/'+user.id]"><i class="material-icons">remove_red_eye</i></a>
                      </td>
                      <td>
                        <a [routerLink]="['/users/edit/'+user.id]"><i class="material-icons">edit</i></a>
                      </td>
                
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card">
          
          <div class="card-header card-header-info">
            <h4 class="card-title text-center ">Actions</h4>
          </div>
          <div class="card-body mt-2 text-center">
            <div [routerLink]="['/users/new']">
              <h2><i class="material-icons">person_add</i><a class="btn btn-link pl-2">New User</a></h2>
            </div>
          </div>
          
        </div>

      </div>
    </div>
  </div>
</div>
